<header class="navbar navbar-expand-lg ">
    <div class="book-section ">
        <a href="/user/<%= id %>" class="nav-link">Books</a>
        <a href="/user/<%= id %>/update" class="nav-link">Update</a>
        <a href="/user/<%= id %>/delete" class="nav-link">Delete</a>
        <a href="/user/<%= id %>/add" class="nav-link">Add</a>
    </div>
    <div class="user-section">
        <span>
         <%= username %> 
        </span>
    </div>
</header>