<header>
    <div class="book-section">
        <a href="/user/<%= id %>">Books</a>
        <a href="/user/<%= id %>/update">Update</a>
        <a href="/user/<%= id %>/delete">Delete</a>
        <a href="/user/<%= id %>/add">Add</a>
    </div>
    <div class="user-section">
        <span>
         <%= username %> 
         </span>
    </div>
</header>