<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/header-style.css">
    <link rel="stylesheet" href="/book-details.css">
    <title>Document</title>
</head>

<body>
    <% const book = bookDetails%>
    <%-include('./inc/header')%>
    <div class="container">
        <div class="img-book">
            <img src="<%=book.thumbnailUrl%>" alt="">
        </div>
        <div class="book-details">
            <span class="book-name">
                <%= book.title %>
            </span>
            <div class="book-authors">
                <span>Authors :</span>
                <span>
                    <%= book.authors %>
                </span>
            </div>
            <div class="book-page">
                <span>Page :</span>
                <span>
                    <%= book.pageCount %>
                </span>
            </div>
            <div class="book-category">
                <span>Category :</span>
                <span>
                    <%= book.categories %>
                </span>
            </div>
            <div class="book-date">
                <span>Publish Date :</span>
                <span>
                    <%= book.publishedDate.$date %>
                </span>
            </div>
            <div class="book-description">
                <span>Description :</span>
                <span>
                    <%= book.longDescription%>
                </span>
            </div>
        </div>
    </div>
</body>

</html>