<!DOCTYPE html>
<html lang="en">

<%-include('./inc/head.ejs') %>

    <body>
        <%-include('./inc/header')%>
            <div class="books">
                <% books.forEach(element=> { %>
                    <article class="card text-center">
                        <img src=<%=element.thumbnailUrl%> alt="" class="card-img-top">
                        <div class="card-body">
                            <h5 class="card-title">
                                <%= element.title %>
                            </h5>
                            <p class="card-text text-muted">
                                <%= element.authors %>
                            </p>
                        </div>
                        <a href="/user/<%= Number(id) %> /<%=element.isbn%>" ><button
                        class="btn-details btn btn-secondary">Details</button></a>
                    </article>
                    <% }); %>
            </div>

    </body>

</html>